{% extends "base.html" %}

{% block content %}
    <h1>Consultar Troca de Correia Dentada</h1>
    <form action="/consulta" method="post">
        <label for="placa">Placa do Veículo:</label>
        <input type="text" id="placa" name="placa" maxlength="7" minlength="7" required>
        <button type="submit">Consultar Troca</button>
    </form>
    {% if msg %}
  <p>{{ msg }}</p>
{% endif %}

{% if veiculo %}
  <h2>Troca encontrada</h2>
  <ul>
    <li>Placa: {{ veiculo[2] }}</li>
    <li>Data troca: {{ veiculo[3] }}</li>
    <li>KM troca: {{ veiculo[4] }}</li>
    <li>Próxima troca (KM): {{ veiculo[5] }}</li>
    <li>Data para a próxima troca: {{ veiculo[6] }}</li>
    <li>Oficina: {{ veiculo[7] }}</li>
  </ul>
{% endif %}

{% endblock %}