{% extends "base.html" %}

{% block content %}
    <h1>Controle de troca da sua correia dentada</h1>
    <div class="container">
        <div class="card">
            <h2>Proprietário</h2>
            <p>Consulte o status atual da sua correia dentada.</p>
            <a href="/consulta" class="button">Consultar</a>
        </div>
        <div class="card">
            <h2>Oficina</h2>
            <p>Registre um veículo ou troca de correia dentada.</p>
            <a href="/registro" class="button">Registro</a>
        </div>
    </div>
{% endblock %}