{% extends "base.html" %}

{% block content %}  
     <h1>Registro da Troca da Correia Dentada</h1>
    <form action="/registro/troca" method="post">

        <label for="modelo">Modelo do Veículo:</label>
        <input type="text" id="modelo" name="modelo" required>

        <label for="marca">Marca do Veículo:</label>
        <input type="text" id="marca" name="marca" required>

        <label for="placa">Placa do Veículo:</label>
        <input type="text" id="placa" name="placa" required>

        <label for="data_troca">Data da Troca:</label>
        <input type="date" id="data_troca" name="data_troca" required>

        <label for="km_troca">Quilometragem atual:</label>
        <input type="number" id="km_troca" name="km_troca" required>
        
        <label for="data_proxima">Data da próxima troca:</label>
        <input type="date" id="data_proxima" name="data_proxima" required>


        <label for="km_proxima">Quilometragem para próxima troca:</label>
        <input type="number" id="km_proxima" name="km_proxima" required>

        <label for="oficina_responsavel">Oficina Responsável:</label>
        <input type="text" id="oficina_responsavel" name="oficina_responsavel" required>

        <button type="submit">Registrar Troca</button>
    </form>
{% endblock %}